$socialMenuSize: 20em;
$bg1: #000;
$bg2: #ccc;

.global {
  background-color: $bg1;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.global.open {
  transform: translateY($socialMenuSize) scaleX(0.95);
  margin: auto;
  height: 100vh;
}

.header {
  display: flex;
  background-color: $bg1;

  span {
    width: 50%;
  }
}

.social {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: $bg2;
  position: absolute;
  display: none;
  li {
    display: inline-block;
  }
}

.social.open {
  display: inline-block;
  background-color: $bg2;
}

.body {
  background-color: $bg1;
}

.menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ccc;

}

.menu.open {
    display: block;
    position: absolute;
}