$socialMenuSize: 20em;
$bg1: #000;
$bg2: #121212;

.global {
  background-color: $bg1;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.global.open {
  transform: translateY($socialMenuSize) scaleX(0.95);
  margin: auto;
  height: 100vh;
}

.header {
  display: flex;
  background-color: $bg1;

  span {
    width: 50%;
    &:nth-child(2) {
      text-align: right;
    }
  }


}

.social {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: $bg2;
  position: absolute;
  display: none;



  ul {
    position: relative;
    margin-top: 8rem;
    text-align: center;

    
  }
  li {
    display: inline-block;
    padding: 0 4px;
    transform: translateY(12rem);
  }
}


.social.open {
  display: inline-block;
  background-color: $bg2;
  
  li {
    transform: translateY(0);
  }

}

.body {
  background-color: $bg1;
}

.menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ccc;

}

.menu.open {
    display: block;
    position: absolute;
}


.menu-items {
  text-align: center;
  vertical-align: middle;
  a {
    
    font-size: 4em;
    text-decoration: none;
    text-align: center;
    display: block;
  }
}

.click {
  cursor: pointer;
}
